/* Style the body */
body {
  background-image: url("https://i.ibb.co/NSmzgy2/william-shakespeare-the-life-of-the-bard.jpg");
  font-family: Arial;
  background-size: cover;
  background-position: cover;
  max-width: 2000px;
  margin-top: 46px;
}

footer {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #cd853f;
  float: none;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.w3-justify {
  text-align: center;
}
/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}

header,
main,
menu,
section {
  display: block;
}
button,
input,
select {
  font: inherit;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
/* End extract */
html,
body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
html {
  overflow-x: hidden;
}
h2 {
  font-size: 30px;
}
h2 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
}
.w3-wide {
  letter-spacing: 4px;
}

.w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.w3-button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.w3-input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

#main {
  transition: margin-left 0.4s;
}
.w3-bar {
  width: 100%;
  overflow: hidden;
}
.w3-center .w3-bar {
  display: inline-block;
  width: auto;
}
.w3-bar .w3-bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}

.w3-bar .w3-button {
  white-space: normal;
}
.w3-bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}
.w3-bar-item {
  text-align: center;
}

.w3-container:after,
.w3-container:before,
.w3-row:after,
.w3-row:before,
.w3-row-padding:after,
.w3-row-padding:before,
.w3-bar:before,
.w3-bar:after {
  content: "";
  display: table;
  clear: both;
}
.w3-col,
.w3-half,
.w3-third {
  float: left;
  width: 100%;
}
@media (min-width: 601px) {
  .w3-col.m4,
  .w3-third {
    width: 33.33333%;
  }
  .w3-col.m6,
  .w3-half {
    width: 49.99999%;
  }
}
.w3-content {
  margin-left: auto;
  margin-right: auto;
}
.w3-content {
  max-width: 980px;
}
.w3-hide {
  display: none !important;
}
@media (min-width: 993px) {
  .w3-hide-large {
    display: none !important;
  }
}
@media (max-width: 992px) and (min-width: 601px) {
  .w3-hide-medium {
    display: none !important;
  }
}

.w3-top {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.w3-top {
  top: 0;
}
.w3-row-padding,
.w3-row-padding > .w3-half,
.w3-row-padding > .w3-third,
.w3-row-padding > .w3-col {
  padding: 0 8px;
}
.w3-container {
  padding: 0.01em 16px;
}
.w3-card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.w3-opacity,
.w3-hover-opacity:hover {
  opacity: 0.6;
}
.w3-medium {
  font-size: 15px !important;
}
.w3-large {
  font-size: 18px !important;
}
.w3-xlarge {
  font-size: 24px !important;
}
.w3-justify {
  text-align: center !important;
}
.w3-center {
  text-align: center !important;
}
.w3-border {
  border: 1px solid #ccc !important;
}
.w3-section {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.w3-margin-bottom {
  margin-bottom: 16px !important;
}
.w3-padding-large {
  padding: 12px 24px !important;
}
.w3-padding-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}
.w3-padding-64 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}
.w3-right {
  float: right !important;
}
.w3-button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}
/* Colors */
.w3-red,
.w3-hover-red:hover {
  color: #fff !important;
  background-color: #f44336 !important;
}
.w3-black {
  color: #fff !important;
  background-color: rgb(49, 29, 6) !important;
}
.w3-light-grey {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}
.box {
  background-color: #ffffff;
  padding-left: 30px;
}
